In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sagar",
  passwd="11121991"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001FA2FCEC2B0>

In [2]:
# mycursor=mydb.cursor()
# mycursor.execute('create database mydb')

In [3]:
### connecting to new database

In [18]:
mydb = mysql.connector.connect(
  host="localhost",
  user="sagar",
  passwd="11121991",
  database='mydb'
)

print(mydb)
mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001FA2FCECF98>

In [19]:
mycursor.execute('CREATE TABLE Product(ProductId int Primary key,Name varchar(30),Description varchar(225))')

In [25]:
mycursor=mydb.cursor()
sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = ("2","Book", "Shoe Dog")
mycursor.execute(sql,val)
mydb.commit()

In [26]:
sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = ("3","Shoe", "Reebok")
mycursor.execute(sql,val)
mydb.commit()

In [27]:
val = [("4","Laptop", "Dell"),("5","Cable","Samsung")]
mycursor.executemany(sql,val)
mydb.commit()

In [31]:
### Show list of product data

In [29]:
mycursor.execute("Select * from product")
products=mycursor.fetchall()
print(product)

[(2, 'Book', 'Shoe Dog'), (3, 'Shoe', 'Reebok'), (4, 'Laptop', 'Dell'), (5, 'Cable', 'Samsung')]

In [30]:
for product in products:
    print(product)

(2, 'Book', 'Shoe Dog')
(3, 'Shoe', 'Reebok')
(4, 'Laptop', 'Dell')
(5, 'Cable', 'Samsung')

In [ ]:
#  Delete from the table

In [32]:
sql = "delete from product where name='Shoe'"
mycursor.execute(sql)
mydb.commit()

In [33]:
mycursor.execute("Select * from product")
products=mycursor.fetchall()
#print(product)
for product in products:
    print(product)

(2, 'Book', 'Shoe Dog')
(4, 'Laptop', 'Dell')
(5, 'Cable', 'Samsung')