In [3]:
def vargFunc(*args):
    print (type(args))

In [4]:
vargFunc(1,2,3,4)

<class 'tuple'>

In [5]:
vargFunc(4,5,6,7,78)

<class 'tuple'>

### Problems related to functions
* Call a function with multiple words
* Return a string separated by spaces containing only the words of even length

In [14]:
def evenWordsCollector(*args):
    l = []
    for word in args:
        if ifWordEven(word):
            l.append(word)
    res = ' '.join(l)
    return res

In [15]:
def ifWordEven(word):
    if len(word) % 2 == 0:
        return True
    else:
        return False

In [16]:
evenWordsCollector('abc','def','abcd','jklm')

'abcd*jklm'

In [11]:
ifWordEven('Hell')

True

In [17]:
evenWordsCollector('abc','def','abcd','jklm','hjhj')

'abcd*jklm*hjhj'

### Problem Statement
* Take Employee Data & put them in a list

In [21]:
def createEmpData(list_emps, **kwargs):
    list_emps.append(kwargs)

In [22]:
list_emps = []

createEmpData(list_emps, name='abc',age=20)

In [23]:
list_emps

[{'name': 'abc', 'age': 20}]

In [24]:
createEmpData(list_emps, name='def',age=20,location='blore')

In [30]:
list_emps

[{'name': 'abc', 'age': 20}, {'name': 'def', 'age': 20, 'location': 'blore'}]

In [29]:
list_emps

'abc'

In [33]:
createEmpData(list_emps, name='def',age=20,salary=100000)
createEmpData(list_emps, name='def',age=20,salary=500000)

In [34]:
list_emps

[{'name': 'abc', 'age': 20},
 {'name': 'def', 'age': 20, 'location': 'blore'},
 {'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 500000}]

In [35]:
for emp in list_emps:
    if 'location' in emp:
        print (emp)

{'name': 'def', 'age': 20, 'location': 'blore'}

In [39]:
# Print folks whose salary is >= 100000
def getPeopleSalary(list_emps,salary=50000):
    res = []
    for emp in list_emps:
        if 'salary' in emp:
            if emp['salary'] >= salary:
                res.append(emp)
    return res

In [40]:
getPeopleSalary(list_emps,100000)

[{'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 100000},
 {'name': 'def', 'age': 20, 'salary': 500000}]

### Problem
1. Store students's marks information in a list
   [{'name':'abc','maths':20,'eglish':30}, {}]
2. Find topper in class

#### Pseudo-Code
1. AddStudent Function
2. Calculate marks percentage
2. Find Topper

In [43]:
def createStudentData(list_students, **marks):
    list_students.append(marks)

In [44]:
list_students = []
createStudentData(list_students,name='david',maths=80, science=75,english=76)
createStudentData(list_students,name='rohit',maths=90, science=85,english=66)
createStudentData(list_students,name='raj',maths=40, science=55,english=56)
createStudentData(list_students,name='yazhini',maths=80, science=88,english=76)

In [45]:
list_students

[{'name': 'david', 'maths': 80, 'science': 75, 'english': 76},
 {'name': 'rohit', 'maths': 90, 'science': 85, 'english': 66},
 {'name': 'raj', 'maths': 40, 'science': 55, 'english': 56},
 {'name': 'yazhini', 'maths': 80, 'science': 88, 'english': 76}]

In [46]:
def calcMarksAvg(list_students):
    for student in list_students:
        total_marks = 0
        count = 0
        for k,v in student.items():
            if k != 'name':
                total_marks += v
                count += 1
        student['avg'] = total_marks/count

In [47]:
calcMarksAvg(list_students)

In [48]:
list_students

[{'name': 'david', 'maths': 80, 'science': 75, 'english': 76, 'avg': 77.0},
 {'name': 'rohit',
  'maths': 90,
  'science': 85,
  'english': 66,
  'avg': 80.33333333333333},
 {'name': 'raj',
  'maths': 40,
  'science': 55,
  'english': 56,
  'avg': 50.333333333333336},
 {'name': 'yazhini',
  'maths': 80,
  'science': 88,
  'english': 76,
  'avg': 81.33333333333333}]

In [49]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [55]:
def findTopper(list_students):
    def f(e):
        return e['avg']

    return max(list_students,key=f)

In [50]:
l = [1,233,9]

In [51]:
max(l)

233

In [57]:
def f(e):
    return e['avg']
max(list_students,key=f)

{'name': 'yazhini',
 'maths': 80,
 'science': 88,
 'english': 76,
 'avg': 81.33333333333333}

In [58]:
topper = findTopper(list_students)

In [59]:
topper['name']

'yazhini'

In [60]:
sorted(list_students,key=f)

[{'name': 'raj',
  'maths': 40,
  'science': 55,
  'english': 56,
  'avg': 50.333333333333336},
 {'name': 'david', 'maths': 80, 'science': 75, 'english': 76, 'avg': 77.0},
 {'name': 'rohit',
  'maths': 90,
  'science': 85,
  'english': 66,
  'avg': 80.33333333333333},
 {'name': 'yazhini',
  'maths': 80,
  'science': 88,
  'english': 76,
  'avg': 81.33333333333333}]