In [2]:
a = 34; b=44

In [4]:
print(a);print(b)

34
44

In [6]:
r = int(input("Enter the rating:"))
bill = int(input("enter the bill amount:"))
tip =0
if r == 1:
    tip = bill * 10 / 100
elif r == 2:
    tip = bill * 20 / 100
elif r == 3:
    tip = bill * 30 / 100
elif r == 4:
    tip = bill * 40 / 100
else:
    tip = bill * 50 / 100
    
print("total bill amount:")
bill+=tip
print(bill)

Enter the rating1
enter the bill amount100
total bill amount
110.0

In [14]:
s = "python,java,c,c++,r"
s1 = s.split(",")
print(s1)
s2 = s1[:]
print(s2)

['python', 'java', 'c', 'c++', 'r']
['python', 'java', 'c', 'c++']

In [28]:
s ='aaabbbddbbssssssdddd'
s1 = sorted(s)
print(s1)
mx = 0
c = 0
for i in range(len(s1)-1):
    c = 0
    if s1[i] == s1[i+1]:
        for j in range(len(s1)):
            if s1[i] == s1[j]:
                c+=1
        if c > mx:
            mx = c
print(mx)

['a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'd', 'd', 'd', 'd', 'd', 'd', 's', 's', 's', 's', 's', 's']
6

In [33]:
s = "      f  "
s.isspace()

False

In [42]:
s = "Learning python is easy"

for i in s:
    if i in "AEIOUaeiou":
        s=s.replace(i,i.upper())
print(s)

LEArnIng pythOn Is EAsy

In [44]:
type(23.33) == float

True

In [1]:
ord('Z')

90

In [15]:
# l1 = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
# l2 = [[100,200,300],[400,500,600],[700,800,900],[1000,1100,1200]]
# l3 = []
# for i in l1:
#     for j in i:
#         print(j)
    
    
# print(l3)

In [19]:
s = 'afdddddaaaabbbbbddddeeeeeeeerr'
s.count('f')

1

In [11]:
d = {}
for value in range(1,21):
    d.setdefault(value,value*value)
print(d)
d.setdefault(4,500) #cannot update the value using setdefault
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [12]:
d = {}
for value in range(1,21):
    d[value] = value*value
print(d)
d[4] = 500
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
{1: 1, 2: 4, 3: 9, 4: 500, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [20]:
d = {}
l1 = [0,11,21,31,41,51,61,71,81,91]
l2 = [10,20,30,40,50,60,70,80,90,100]
for value in zip(l1,l2):
    d.setdefault(value,0)
print(d)
num1 = 45
for key in d:
    if num1 >key[0] and num1 < key[1]:
        d[key]+=1
print(d)

{(0, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}
{(0, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 1, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

In [17]:
l = range(10,101)
print(l)

range(10, 101)

In [2]:
sorted({2,4,3,2}) #takes any iterable data types and return a list

[2, 3, 4]